/*Обнуление
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
--------------------*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Open Sans', sans-serif;
}
.body{
    background: floralwhite;
    font-size: 14px;
    line-height: 22px;
    width: 100px;
    padding: 0 25px;
    color: #555555;
}

.light{
    font-weight: 300;
    font-size: 20px;
    text-transform: uppercase;
}
.regular{
    font-weight: 400;
    font-size: 16px;
}
.resume{
    width: 800px;
    height: auto;
    display: flex;
    margin: 50 px auto;
}
.resume .left_block{
    width: 281px;
    background: #e7dfdf;
}
.resume .resume_profile{
    width: 100%;
    height: 280px;
}
.resume .left_block .resume_profile img{
    padding: 0 25px;
    width: 100%;
    height: 100%;
}
.resume .left_block .content{
    padding: 0 25px;
}
.resume .title{
    margin-bottom: 20px;
}
.resume .left_block .regular{
    color: brown;
}
.resume .left_block .light{
    color: rgb(89, 45, 6);
}
.resume .item{
    padding: 25px 0;
    border-bottom: 2px solid #2d3c42;
}
.resume .left_block .item:last-child{
    border-bottom: 0px;
}
.resume .left_block ul li{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.resume .left_block ul li:last-child{
    margin-bottom: 0;
}
.resume .left_block ul li .icon{
    width: 20px;
    height: 20px;
    background: #fff;
    color: #0bb5f4;
    border-radius: 50%;
    margin-right: 15px;
    font-size: 16px;
    position: relative;
}
.resume .icon img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.resume .left_block ul li .data{

}





/*background шапка*/
/*
body{
    padding: 30px;
}

.block{

    background: url('../assets/img/background1.jpg');
    background-repeat: no-repeat;
    background-position: 100%;
        

    height: 300px;
    border-radius: 65px;
    box-shadow: 0 0 2px rgb(82, 143, 147);
}
.main{

}
*/